<toaster-container></toaster-container>
<div ng-controller="deliveryChallanController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{modelHeading}}</h2>
        </div>
        <div class="col-lg-2">
            <h2 style="float: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-backdrop="static"
                        data-keyboard="false" ng-if="isAuthenticated('956')" ng-click="addNewInvoiceDeliveryChallan()">
                    <span class="glyphicon glyphicon-plus"></span> {{modelDetailText}}
                </button>
            </h2>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-xs-12" style="overflow-x: scroll;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Delivery Challan List</h5>
                    </div>
                    <div class="ibox-content">
                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="col-xs-1 text-center">Invoice No.</th>
                                    <th class="col-xs-2 text-center">Delivery Date</th>
                                    <th class="col-xs-2 text-center">Created By</th>
                                    <th class="col-xs-1 text-center">Status</th>
                                    <th class="col-xs-6 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="challan in deliveryChallan">
                                    <td class="text-right">{{ challan.InvoiceNo }}</td>
                                    <td class="text-center">{{ challan.ChallanDate | date:'dd/MM/yyyy' }}</td>
                                    <td class="text-left">{{ challan.CreatedByName}}</td>
                                    <td class="text-left">{{ challan.ApprovedBy>0?'Approved':'Pending' }}</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-default btn-sm"  ng-if="isAuthenticated('957')" title="View" ng-click="navigateToDeliveryChallanView(challan)">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm"  ng-if="isAuthenticated('958')&&!challan.Submitted" title="Edit" ng-click="navigateToDeliveryChallanEdit(challan)">
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm" title="Delivery Challan Print" ng-if="isAuthenticated('960')" ng-click="navigateToDeliveryChallanPrint(challan)">
                                            Print
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm" title="Undelivery Challan Print" ng-if="isAuthenticated('961')" ng-click="navigateToUndeliveryChallanPrint(challan)">
                                            Undelivered Print
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>