<toaster-container></toaster-container>
<div ng-controller="invoiceController">
    <div class="row wrapper white-bg" style="padding-bottom: 12px;">
        <h2>Invoice</h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content" style="padding-bottom: 0px;">
                    <div class="row">
                        <div class="form-group col-sm-3 col-xs-12">
                            <label for="txtInvoiceNo" style="font-weight: bold;" required="true">Invoice No</label>
                            <input id="txtInvoiceNo" class="form-control" type="text" placeholder="Automatic"
                                   ng-disabled="true"
                                   ng-model="InvoiceNo" />
                        </div>
                        <div class="form-group col-sm-3 col-xs-12">
                            <label for="txtInvoiceDate" style="font-weight: bold;" required="true">Invoice Date</label><br />
                            <md-datepicker ng-model="InvoiceDate" md-min-date="minDate" md-max-date="maxDate" md-placeholder="Enter date" md-open-on-focus=""
                                           ng-click="clickDatePicker()"></md-datepicker>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="txtNote">Note</label>
                            <input id="txtNote" ng-model="Note" class="form-control" type="text" />
                        </div>
                        <div class="form-group col-sm-2 col-xs-12">
                            <label for="txtDemandOrderId" style="font-weight: bold;" required="true">Demand Order No.</label>
                            <ui-select ng-model="selectedDemandOrderId.selected" ng-change="getDemandOrderById(selectedDemandOrderId)" style="width: 100%;" theme="select2">
                                <ui-select-match placeholder="" class="form-control" required>{{$select.selected.DemandOrderNo}}</ui-select-match>
                                <ui-select-choices repeat="do in demandOrderIdList | propsFilter: {DemandOrderNo: $select.search}">
                                    <div ng-bind-html="do.DemandOrderNo | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-sm-5 col-xs-12">
                            <label style="font-weight: bold;">Customer Name: </label><br />
                            <span ng-if="$scope.demandOrder.length !== 0">{{demandOrder.CustomerName}} ({{demandOrder.CustomerCode}})</span>
                        </div>
                        <div class="form-group col-sm-5 col-xs-12">
                            <label style="font-weight: bold;">Employee Name: </label><br />
                            <span ng-if="$scope.demandOrder.length !== 0">{{demandOrder.EmployeeName}} ({{demandOrder.EmployeeCode}})</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner-table col-xs-12" style="padding-bottom: 20px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        Product Details
                                    </h4>
                                </div>
                                <div class="modal-body form-group" style="padding-bottom: 0;">
                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-1 text-center">SL</th>
                                                <th class="col-xs-1 text-center">Product Code</th>
                                                <th class="col-xs-2 text-center">Product Name</th>
                                                <th class="col-xs-1 text-center">Approved Quantity</th>
                                                <th class="col-xs-1 text-center">Allocated Quantity</th>
                                                <th class="col-xs-1 text-center">Delivred Quantity</th>
                                                <th class="col-xs-1 text-center">Available Quantity</th>
                                                <th class="col-xs-1 text-center">Unit Price</th>
                                                <th class="col-xs-1 text-center">Discount(%)</th>
                                                <th class="col-xs-1 text-center">Total Price</th>
                                                <th class="col-xs-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pd in invoiceProductDetail">
                                                <td style="text-align: center;">{{$index + 1}}</td>
                                                <td style="text-align: center;">{{pd.ProductCode}}</td>
                                                <td>{{ pd.ProductName }}</td>
                                                <td style="text-align: right;">{{ pd.Quantity }}</td>
                                                <td class="text-right">{{pd.AllocatedQuantity}}</td>
                                                <td class="text-right">{{pd.DeliveredQuantity}}</td>
                                                <td class="text-right">{{pd.AvailableQuantity}}</td>
                                                <td style="text-align: right;">{{ pd.UnitPrice | currency : "" }}</td>
                                                <td style="text-align: right;">{{ pd.Discount | currency : "" }}</td>
                                                <td style="text-align: right;">{{ pd.TotalPrice | currency : "" }}</td>
                                                <td style="text-align: right;">
                                                    <button type="button" class="btn btn-default btn-sm" ng-hide="pd.AvailableQuantity===0" ng-click="selectProductItemDetail(pd)">
                                                        Select
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                                <td class="col-xs-8" colspan="8">Total</td>
                                                <td class="col-xs-1"></td>
                                                <td class="col-xs-1">{{ demandOrder.TotalAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.RegularDiscount">
                                                <td class="col-xs-8" colspan="8">Regular Discount (%)</td>
                                                <td class="col-xs-1">{{demandOrder.RegularDiscountInPercentage}}</td>
                                                <td class="col-xs-1">{{ demandOrder.RegularDiscountAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="demandOrder.SpecialDiscountInPercentage > 0 || demandOrder.AdditionalDiscountInPercentage > 0 || demandOrder.ExtraDiscount > 0|| demandOrder.CashBack > 0">
                                                <td class="col-xs-8" colspan="8">Sub Total</td>
                                                <td class="col-xs-1"></td>
                                                <td class="col-xs-1">{{ demandOrder.TotalAmount-demandOrder.RegularDiscountAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.SpecialDiscount && demandOrder.SpecialDiscountInPercentage>0">
                                                <td class="col-xs-8" colspan="8">Special Discount (%)</td>
                                                <td class="col-xs-1">{{demandOrder.SpecialDiscountInPercentage}}</td>
                                                <td class="col-xs-1">{{ demandOrder.SpecialDiscountAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.AdditionalDiscount && demandOrder.AdditionalDiscountInPercentage>0">
                                                <td class="col-xs-8" colspan="8">Additional Discount (%)</td>
                                                <td class="col-xs-1">{{demandOrder.AdditionalDiscountInPercentage}}</td>
                                                <td class="col-xs-1">{{ demandOrder.AdditionalDiscountAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.ExtraDiscount && demandOrder.ExtraDiscountInPercentage>0">
                                                <td class="col-xs-8" colspan="8">Extra Discount (%)</td>
                                                <td class="col-xs-1">{{demandOrder.ExtraDiscountInPercentage}}</td>
                                                <td class="col-xs-1">{{ demandOrder.ExtraDiscountAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.CashBack && demandOrder.CashBackAmount>0">
                                                <td class="col-xs-8" colspan="8">Cash Back Amount</td>
                                                <td class="col-xs-1">{{demandOrder.CashBackAmount}}</td>
                                                <td class="col-xs-1">{{ demandOrder.CashBackAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="demandOrder.SpecialDiscountInPercentage > 0 || demandOrder.AdditionalDiscountInPercentage > 0 || demandOrder.ExtraDiscount > 0|| demandOrder.CashBack > 0">
                                                <td class="col-xs-8" colspan="8">Total Discount</td>
                                                <td class="col-xs-1"></td>
                                                <td class="col-xs-1">{{ demandOrder.TotalDiscountAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                                <td class="col-xs-8" colspan="8">Grand Total</td>
                                                <td class="col-xs-1"></td>
                                                <td class="col-xs-1">{{ demandOrder.TotalGrandAmount | number:2}}</td>
                                                <td class="col-xs-1"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content" style="padding-bottom: 0px;">
                    <div class="row">
                        <div class="inner-table col-xs-12" style="padding-bottom: 20px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        Product Details
                                        <a class="glyphicon glyphicon-remove btn btn-sm btn-danger pull-right"
                                           ng-show="modelDetailMode === 2"
                                           ng-click="cancelModelUpdate()">Cancel</a>
                                    </h4>
                                </div>
                                <div class="modal-body form-group" style="padding-bottom: 0;">
                                    <div class="row">
                                        <form name="invoiceForm" novalidate>
                                            <div class="form-group col-sm-7 col-xs-12">
                                                <label for="txtProductId" style="font-weight: bold;" required>Product Item</label>
                                                <select class="form-control"
                                                        id="optionSubGroup"
                                                        ng-disabled="true"
                                                        ng-model="selectedProduct"
                                                        ng-options="prd.ProductName for prd in products"></select>
                                            </div>
                                            <div class="form-group col-sm-2 col-xs-12">
                                                <label for="txtQuantity">Quantity</label>
                                                <input id="txtQuantity" ng-model="Quantity" min="1" max="{{availableQuantity}}" class="form-control" type="number" required />
                                            </div>

                                            <div class="form-group col-sm-2 col-xs-12">
                                                <label for="txtDiscount">Discount</label>
                                                <input id="txtDiscount" ng-disabled="true" ng-model="Discount" min="0" max="100" class="form-control" type="number" />
                                            </div>

                                            <div class="form-group col-sm-1 col-xs-12" style="padding-top: 23px;">
                                                <button type="button" class="btn btn-primary btn-sm"
                                                        ng-disabled="invoiceForm.$invalid"
                                                        ng-click="addProductItem()">
                                                    <span class="glyphicon glyphicon-plus"></span> {{ modelDetailText }}
                                                </button>
                                            </div>
                                        </form>
                                        <div class="col-xs-12">
                                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-1 text-center">SL</th>
                                                        <th class="col-xs-1 text-center">Product Code</th>
                                                        <th class="col-xs-1 text-center">Product Name</th>
                                                        <th class="col-xs-1 text-center">Approved Quantity</th>
                                                        <th class="col-xs-1 text-center">Pre Alloc. Quantity</th>
                                                        <th class="col-xs-1 text-center">Invoice Quantity</th>
                                                        <th class="col-xs-1 text-center">Delivered Quantity</th>
                                                        <th class="col-xs-1 text-center">Available Quantity</th>
                                                        <th class="col-xs-1 text-center">Unit Price</th>
                                                        <th class="col-xs-1 text-center">Discount(%)</th>
                                                        <th class="col-xs-1 text-center">Total Price</th>
                                                        <th class="col-xs-1"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pd in productDetail">
                                                        <td style="text-align: center;">{{$index + 1}}</td>
                                                        <td style="text-align: center;">{{pd.ProductCode}}</td>
                                                        <td>{{ pd.ProductName }}</td>
                                                        <td style="text-align: right;">{{ pd.Quantity }}</td>
                                                        <td class="text-right">{{pd.PreAllocatedQuantity}}</td>
                                                        <td class="text-right">{{pd.AllocatedQuantity}}</td>
                                                        <td class="text-right">{{pd.DeliveredQuantity}}</td>
                                                        <td class="text-right">{{pd.AvailableQuantity}}</td>
                                                        <td style="text-align: right;">{{ pd.UnitPrice | currency : "" }}</td>
                                                        <td style="text-align: right;">{{ pd.Discount | currency : "" }}</td>
                                                        <td style="text-align: right;">{{ pd.TotalPrice | currency : "" }}</td>
                                                        <td style="text-align: right;">
                                                            <button type="button" class="btn btn-default btn-sm" ng-click="selectItemDetail(pd)">
                                                                Select
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-sm" ng-click="removeItemDetail(pd)">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                                        <td class="col-xs-9" colspan="9">Total</td>
                                                        <td class="col-xs-1"></td>
                                                        <td class="col-xs-1">{{ invoiceTotalAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.RegularDiscount">
                                                        <td class="col-xs-9" colspan="9">Regular Discount (%)</td>
                                                        <td class="col-xs-1">{{demandOrder.RegularDiscountInPercentage}}</td>
                                                        <td class="col-xs-1">{{ invoiceRegularDiscountAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                                        <td class="col-xs-9" colspan="9"> Sub Total</td>
                                                        <td class="col-xs-1"></td>
                                                        <td class="col-xs-1">{{ subTotal | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.SpecialDiscount">
                                                        <td class="col-xs-9" colspan="9">Special Discount (%)</td>
                                                        <td class="col-xs-1">{{demandOrder.SpecialDiscountInPercentage}}</td>
                                                        <td class="col-xs-1">{{ invoiceSpecialDiscountAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.AdditionalDiscount">
                                                        <td class="col-xs-9" colspan="9">Additional Discount (%)</td>
                                                        <td class="col-xs-1">{{demandOrder.AdditionalDiscountInPercentage}}</td>
                                                        <td class="col-xs-1">{{ invoiceAdditionalDiscountAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.ExtraDiscount">
                                                        <td class="col-xs-9" colspan="9">Extra Discount (%)</td>
                                                        <td class="col-xs-1">{{demandOrder.ExtraDiscountInPercentage}}</td>
                                                        <td class="col-xs-1">{{ invoiceExtraDiscountAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;" ng-if="DemandOrderDiscountSetting.CashBack">
                                                        <td class="col-xs-9" colspan="9">Cash Back Amount</td>
                                                        <td class="col-xs-1">{{demandOrder.CashBackAmount}}</td>
                                                        <td class="col-xs-1">{{ invoiceCashBackAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                                        <td class="col-xs-9" colspan="9">Total Discount</td>
                                                        <td class="col-xs-1"></td>
                                                        <td class="col-xs-1">{{ invoiceTotalDiscountAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                    <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                                        <td class="col-xs-9" colspan="9">Grand Total</td>
                                                        <td class="col-xs-1"></td>
                                                        <td class="col-xs-1">{{ invoiceTotalGrandAmount | number:2}}</td>
                                                        <td class="col-xs-1"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group col-xs-12 text-right">
                                        <button type="button"
                                                class="btn btn-primary"
                                                ng-disabled="!isInvoiceValidated"
                                                ng-class="{ 'disabled': !isInvoiceValidated}"
                                                ng-click="saveInvoice()">
                                            {{ modelActionText }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>