<toaster-container></toaster-container>
<div ng-controller="productionForecastController">
    <div class="row wrapper white-bg" style="padding-bottom: 12px;">
        <h2>Add Production Forecast</h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="row">
                        <form name="salesTeamTargetForm" novalidate>
                            <div class="form-group col-sm-2 col-xs-12">
                                <label for="" style="font-weight: bold;" required="true">Months</label><br />
                                <ui-select ng-model="selectedMonth.selected" ng-change="onChangedMonth(selectedMonth.selected)" style="width: 100%;" theme="select2">
                                    <ui-select-match placeholder="" class="form-control" required>{{$select.selected.monthName}}</ui-select-match>
                                    <ui-select-choices repeat="m in months | propsFilter: {monthName: $select.search}">
                                        <div ng-bind-html="m.monthName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-sm-2 col-xs-12">
                                <label for="" style="font-weight: bold;" required="true">Year</label><br />
                                <ui-select ng-model="selectedYear.selected" ng-change="onChangedYear(selectedYear.selected)" style="width: 100%;" theme="select2">
                                    <ui-select-match placeholder="" class="form-control" required>{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="y in years">
                                        <div ng-bind-html="y | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-sm-8 col-xs-12" style="padding-top:23px;">
                                <button type="button"
                                        class="btn btn-primary"
                                        ng-click="addSalesForecast()">
                                    Add
                                </button>
                            </div>
                            <div class="inner-table col-xs-12" style="padding-bottom: 20px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            Production Forecast Details
                                        </h4>
                                    </div>
                                    <div class="modal-body form-group" style="padding-bottom: 0;">
                                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-1 text-right">SL</th>
                                                    <th class="col-xs-6 text-left">Product Name</th>
                                                    <th class="col-xs-1 text-right">Unit Price</th>
                                                    <th class="col-xs-1 text-right">Quantity</th>
                                                    <th class="col-xs-1 text-right">Total Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pf in productionForecastList">
                                                    <td class="text-right">{{$index + 1}}</td>
                                                    <td class="text-left">{{pf.Name}}</td>
                                                    <td class="text-right">{{pf.UnitPrice | currency:''}}</td>
                                                    <td class="text-right"><input id="txtQuanity" ng-model="pf.Quantity" ng-change="onChangeQuantity(pf)" class="form-control" min="0" type="number" /></td>
                                                    <td class="text-right">{{pf.TotalUnitPrice  | currency:''}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="5" class="font-bold text-right">{{TotalPrice | currency: ''}}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 text-right">
                                <button type="button"
                                        class="btn btn-primary"
                                        ng-disabled="TotalPrice === 0"
                                        ng-click="saveProductionForecast()">
                                    {{ modelActionText }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>