<toaster-container></toaster-container>
<div ng-controller="salesPersonHistoryController">
    <div class="row wrapper white-bg" style="padding-bottom: 12px;">
        <div class="col-xs-12">
            <h2>Sales Details</h2>
        </div>
        <div class="col-xs-12">
            <form name="salesPersonHistoryForm" novalidate>
                <div class="col-xs-12" style="padding-left: 5px;">
                    <div class="form-group col-xs-4" style="padding-left: 0;">
                        <label for="optionSalesPerson" style="font-weight: bold;" required="true">Sales Person</label><br />
                        <ui-select ng-model="selectedSalesPerson.selected" style="width: 100%;" theme="select2" required>
                            <ui-select-match placeholder="" class="form-control" required>{{$select.selected.FullName}}</ui-select-match>
                            <ui-select-choices repeat="so in salesOfficer | propsFilter: {FullName: $select.search, EmployeeId: $select.search, Designation: $select.search}">
                                <div ng-bind-html="so.FullName | highlight: $select.search"></div>
                                <small>
                                    Designation: <span ng-bind-html="''+so.Designation | highlight: $select.search"></span> -
                                    SO Code: <span ng-bind-html="''+so.EmployeeId | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-xs-2" style="padding-top: 20px;">
                        <button type="button" class="btn btn-primary"
                                ng-disabled="salesPersonHistoryForm.$invalid"
                                ng-click="getSalesPersonHistory()">
                            <span class="glyphicon glyphicon-list"></span> Show
                        </button>
                    </div>
                    <div class="col-xs-6"></div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include="'personDetailTemplate'" ng-if="salesPersonHistory">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="personDetailTemplate">
    <div class="row">
        <div class="ibox-content" style="padding:15px;">
            <div>
                <div class="modal-content">
                    <div class="modal-header" style="padding: 5px 15px;">
                        <div class="modal-title" ng-model="collapsed" ng-click="collapsed=!collapsed" ng-init="collapsed=false">
                            <h4 style="margin-bottom:5px;">
                                <span class="glyphicon" ng-class="{true:'glyphicon-minus', false:'glyphicon-plus'}[collapsed]"></span> {{salesPersonHistory.Designation}} - {{salesPersonHistory.Name}}
                            </h4>
                        </div>
                    </div>
                    <div class="modal-body" style="padding: 5px 30px !important;" ng-show="collapsed">
                        <div class="row">
                            <h4 style="padding-left:15px;">
                                Personal Details
                            </h4>
                            <hr style="margin: 10px 10px !important;" />
                            <div class="col-xs-4" style="padding-left: 0;">
                                <div class="col-xs-12">
                                    <label>Name: </label>
                                    <span>{{salesPersonHistory.Name}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <label>Designation: </label>
                                    <span>{{salesPersonHistory.Designation}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <label>SO Code: </label>
                                    <span>{{salesPersonHistory.SalesCode}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <label>Address: </label>
                                    <span>{{salesPersonHistory.Area}}</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Current Sales Target: </label>
                                    <span>{{salesPersonHistory.CurrentSalesTarget | currency : ""}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <label>Current DO Amount: </label>
                                    <span>{{salesPersonHistory.TotalDoAmount | currency : ""}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <label>Current Collection: </label>
                                    <span>{{salesPersonHistory.CurrentCollection | currency : ""}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <label>Current Due Balance: </label>
                                    <span>{{salesPersonHistory.DueBalance | currency : ""}}</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Total Due Collection: </label>
                                    <span>{{salesPersonHistory.TotalDueCollection | currency : ""}}</span>
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 5px 0 !important;" />
                        <div class="row" style="padding: 0 15px;">
                            <h4>
                                Monthly Sales History
                            </h4>
                            <hr style="margin: 10px 0 !important;" />
                            <div style="padding-bottom: 0;">
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example" style="padding-bottom: 0 !important; font-size: 12px !important; line-height: 0.8 !important;">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2 text-right">SL</th>
                                            <th class="col-xs-2 text-center">Year</th>
                                            <th class="col-xs-2 text-center">Month</th>
                                            <th class="col-xs-2 text-right">Sales Target</th>
                                            <th class="col-xs-2 text-right">Collection</th>
                                            <th class="col-xs-2 text-right">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="smh in salesPersonHistory.SalesMonthlyHistoryList">
                                            <td class="text-right">{{$index + 1}}</td>
                                            <td class="text-center">{{smh.Year}}</td>
                                            <td class="text-center">{{ smh.Month }}</td>
                                            <td class="text-right">{{ smh.SalesTarget | currency : ""}}</td>
                                            <td class="text-right">{{ smh.Achievement | currency : "" }}</td>
                                            <td class="text-right">{{ smh.Percentage }}%</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                            <td colspan="3">Total</td>
                                            <td>{{ TotalSalesTarget | number:2}}</td>
                                            <td>{{ TotalAchievement | number:2}}</td>
                                            <td>{{ TotalInPercentage }}%</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <hr style="margin: 10px 0 !important;" />
                        <div class="row" style="padding: 0 15px;">
                            <h4>
                                Dealer History
                            </h4>
                            <hr style="margin: 10px 0 !important;" />
                            <div style="padding-bottom: 0;">
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example" style="padding-bottom: 0 !important; font-size: 12px !important; line-height: 0.8 !important;">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-1 text-right">SL</th>
                                            <th class="col-xs-1 text-left">Name</th>
                                            <th class="col-xs-1 text-right">Code</th>
                                            <th class="col-xs-3 text-left">Address</th>
                                            <th class="col-xs-1 text-left">Phone</th>
                                            <th class="col-xs-1 text-right">Rating</th>
                                            <th class="col-xs-1 text-right">Risk Level</th>
                                            <th class="col-xs-1 text-right">Total DO Amount</th>
                                            <th class="col-xs-1 text-right">Total Paid Amount</th>
                                            <th class="col-xs-1 text-right">Total Due Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dmh in salesPersonHistory.DealerMonthlyHistoryList">
                                            <td style="text-align: right;">{{$index + 1}}</td>
                                            <td style="text-align: left;">{{ dmh.DealerName }}</td>
                                            <td style="text-align: right;">{{ dmh.DearlerCode}}</td>
                                            <td style="text-align: left;">{{ dmh.Address}}</td>
                                            <td style="text-align: left;">{{ dmh.Phone}}</td>
                                            <td style="text-align: right;">{{ dmh.Rating}}</td>
                                            <td style="text-align: right;">{{ dmh.RiskLevel}}</td>
                                            <td style="text-align: right;">{{ dmh.TotalDoAmount | currency : ""}}</td>
                                            <td style="text-align: right;">{{ dmh.TotalPaidAmount | currency : ""}}</td>
                                            <td style="text-align: right;">{{ dmh.TotalDueAmount | currency : ""}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                            <td colspan="7">Total</td>
                                            <td>{{ TotalTotalDoAmount | currency : ""}}</td>
                                            <td>{{ TotalTotalPaidAmount | currency : ""}}</td>
                                            <td>{{ TotalTotalDueAmount | currency : ""}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div ng-if="salesPersonHistory.SalesPersonList && salesPersonHistory.SalesPersonList.length > 0">
                            <div ng-repeat="salesPersonHistory in salesPersonHistory.SalesPersonList" ng-include="'personDetailTemplate'">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>