<style media="print">
    /*@page {
        size: A4;
        margin: 0;
        padding: 0 20px;
    }

    body {
        margin: 1.6cm;
    }*/

    @page {
        margin: 0 -6cm
    }

    html {
        margin: 0 6cm
    }
</style>

<div ng-controller="undeliveryChallanPrintController">
    <div class="row wrapper white-bg">
        <div class="col-sm-12" style="background-color: #fff">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2>
                        <img ng-if="ReportHeaderSetting.CompanyLogoIncludeInReport" src="../../image/logo/{{company.LogoPath}}" /> <b>{{company.FullName}}</b>
                    </h2>
                    <p>{{company.Address}}</p>
                    <p>Phone: {{company.Phone}}; Email: {{company.Email}}</p>
                    <h3 class="font-bold"><u>Undelivered Challan</u></h3>
                </div>
                <div class="">
                    <div class="col-sm-6 col-xs-6">
                        <p>Invoice No: <span class="font-bold">{{unDeliveryChallan.InvoiceNo}}</span></p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <p>Invoice Date: <span class="font-bold">{{unDeliveryChallan.CreatedOn | date : "dd/MM/yyyy"}}</span></p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <p>Customer Name: <span class="font-bold">{{unDeliveryChallan.CustomerName}} ({{unDeliveryChallan.CustomerCode}})</span></p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <p> Address: <span class="font-bold">{{unDeliveryChallan.CustomerAddress}}</span></p>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <p> Note: <span class="font-bold">{{unDeliveryChallan.Note}}</span></p>
                    </div>
                </div>
                <hr />
                <div class="">
                    <table dt-options="dtOptions" class="table table-bordered table-responsive table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-1 text-right">SL</th>
                                <th class="col-xs-9 text-left">Product Name</th>
                                <th class="col-xs-2 text-right">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pd in unDeliveryChallan.UndeliveryQuantityDetailVm">
                                <td class="text-right">{{$index + 1}}</td>
                                <td class="text-left">{{ pd.ProductName }}</td>
                                <td class="text-right">{{pd.Quantity}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="text-align: right; font-weight: bold; background-color: #f0f0f0;">
                                <td class="col-xs-9" colspan="2">Total</td>
                                <td class="col-xs-1">{{ TotalQuantity | number: ''}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<toaster-container></toaster-container>
<div ng-controller="undeliveryChallanPrintController">
    <div class="row wrapper white-bg" style="padding-bottom: 12px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">
                        <div style="padding-bottom: 20px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-center">
                                        Un-Delivery Challan Print
                                    </h4>
                                </div>
                                <div class="row modal-body form-group" style="padding-bottom: 10px;">
                                    <div class="col-sm-10 col-xs-12" style="padding-left: 0px !important">
                                        <div class="col-sm-6 col-xs-6">
                                            <label>Invoice No: </label>
                                            <span>{{unDeliveryChallan.InvoiceNo }}</span>
                                        </div>
                                        <div class="col-sm-6 col-xs-6" style="padding-left: 120px;">
                                            <label>Created By: </label>
                                            <span>{{unDeliveryChallan.CreatedBy>0?unDeliveryChallan.CreatedByName:'N/A'}}</span>
                                        </div>

                                        <div class="col-sm-6 col-xs-6">
                                            <label>Created On: </label>
                                            <span>{{unDeliveryChallan.CreatedOn===null?'N/A': unDeliveryChallan.CreatedOn|  date : "dd/MM/yyyy"}}</span>
                                        </div>
                                        <div class="col-sm-6 col-xs-6" style="padding-left: 120px;">
                                            <label>Note: </label>
                                            <span>{{unDeliveryChallan.Note===null?'N/A':unDeliveryChallan.Note}}</span>
                                        </div>

                                        <div class="col-sm-6 col-xs-6">
                                            <label>Customer Name: </label>
                                            <span>{{unDeliveryChallan.CustomerName}}</span>
                                        </div>
                                        <div class="col-sm-6 col-xs-6" style="padding-left: 120px;">
                                            <label>Customer Phone: </label>
                                            <span>{{unDeliveryChallan.CustomerPhone}}</span>
                                        </div>

                                        <div class="col-sm-6 col-xs-6">
                                            <label>Customer Address: </label>
                                            <span>{{unDeliveryChallan.CustomerAddress}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="inner-table col-xs-12" style="padding-bottom: 20px;">
                                <div class="modal-content">
                                    <div class="modal-body form-group" style="padding-bottom: 0;">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-6 text-center">Product Name</th>
                                                    <th class="col-xs-6 text-center">Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="challan in unDeliveryChallan.UndeliveryQuantityDetailVm">
                                                    <td style="text-align: left;">{{challan.ProductName}}</td>
                                                    <td style="text-align: right;">{{challan.Quantity}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->