<toaster-container></toaster-container>
<div ng-controller="customerApprovalController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Customer Payment Verification & Approval</h2>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-xs-12" style="overflow-x: scroll;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Customer Payment Verification & Approval</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-expandable class="grid"></div>
                        <!--<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="col-xs-3 text-left">Account Head</th>
                                    <th class="col-xs-1 text-center">Tx Date</th>
                                    <th class="col-xs-1 text-right">Tx Amount</th>
                                    <th class="col-xs-3 text-left">Created By & Date</th>
                                    <th class="col-xs-3 text-left">Customer & Amount</th>
                                    <th class="col-xs-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="custTran in customerTransactionList">
                                    <td class="text-left">{{ custTran.AccountName }}</td>
                                    <td class="text-center">{{ custTran.TransactionDate | date:'dd/MM/yyyy' }}</td>
                                    <td class="text-right">
                                        <p>{{ custTran.TransactionAmount | currency: ''}}</p>
                                        <p ng-if="custTran.BankChargeAmount>0">B.C. {{ custTran.BankChargeAmount | currency: ''}}</p>
                                    </td>
                                    <td class="text-left">{{ custTran.CreatedByName }}  & {{custTran.CreatedOn | date: 'dd/MM/yyyy'}}</td>
                                    <td>
                                        <p ng-repeat="detail in custTran.CustomerTransactionDetail">
                                            {{detail.CustomerName}}({{detail.CustomerCode}}), Tk.{{detail.TransactionAmount | currency: ''}}
                                        </p>
                                    </td>
                                    <td style="text-align: right;">
                                        <button type="button" class="btn btn-primary btn-sm" title="Approve" ng-if="isAuthenticated('351')" ng-click="showTransactionModal(custTran)">
                                            Approve
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" pps-modal id="approveCustomerTranModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeCustomerTranModal()">&times;</button>
                    <h4 class="modal-title">Customer Payment Verification</h4>
                </div>
                <div class="modal-body form-group" style="padding-bottom: 0;">
                    <div>Do you want to verify the following Payment?</div>
                    <div>
                        <span style="font-weight: bold;">Customer(s): </span>
                        <p style="padding-left: 85px;" ng-repeat="detail in selectedTran.CustomerTransactionDetail">
                            {{detail.CustomerName}}({{detail.CustomerCode}}), Tk.{{detail.TransactionAmount | currency: ''}}
                        </p>
                    </div>
                    <div><span style="font-weight: bold;">Account: </span>{{selectedTran.AccountName}} - {{selectedTran.AccountCode}}</div>
                    <div><span style="font-weight: bold;">Tran. Ref: </span>{{selectedTran.TransactionReference}}</div>
                    <div><span style="font-weight: bold;">Tran. Amount: </span>{{selectedTran.TransactionAmount | currency: ''}}</div>
                    <div><span style="font-weight: bold;">Tran. Date: </span>{{selectedTran.TransactionDate | date:'dd/MM/yyyy'}}</div>
                </div>
                <div class="modal-footer">
                    <div style="float: left;">
                        <button type="button" class="btn btn-default" ng-click="closeCustomerTranModal()">Cancel</button>
                    </div>
                    <div style="float: right;">
                        <button type="button" class="btn btn-primary" ng-click="approveCustomerTranClick()">Approve</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

